<!doctype html>
<html lang="en">
<head>

	<title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/static/css/resume.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
		
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h2>Poornima solanki</h2>
					<h2>Python Developer, Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<!-- <img src="/static/images/profile.jpg" alt="Italian Trulli" width="100px"> -->
						<img src="{{resume.userextrafields_set.all.first.photo.url}}" width="100px">
						<!-- <h3><a id="pdf" href="#">Download PDF</a></h3>
						<h3><a href="mailto:name@yourdomain.com">name@yourdomain.com</a></h3>
						<h3>(313) - 867-5309</h3> -->
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>


						</div>
						<div class="yui-u">
							<p class="enlarge">
								{{resume.objective}}
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>

						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>{{resume.skills_set.all.first.skills}}</h2>
						
								</div>

						</div>
					</div><!--// .yui-gf -->


					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->


						<div class="yui-u">

							<div class="job">
								<h2>{{resume.experience_set.all.first.resume}}</h2>
								
							</div>

							<div class="job">
								<h2>{{resume.experience_set.all.first.company_name}}</h2>
								
							</div>

							<div class="job">
								<h2>{{resume.experience_set.all.first.duration}}</h2>



							<div class="job last">
								<h2>{{resume.experience_set.all.first.designation}}</h2>

							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
				</div>

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Education</h2>
						</div><!--// .yui-u -->


						<div class="yui-u">

							<div class="job">
								<h2>{{resume.education_set.all.first.resume}}</h2>
								
							</div>

							<div class="job">
								<h2>{{resume.education_set.all.first.degree_class}}</h2>
								
							</div>

							<div class="job">
								<h2>{{resume.education_set.all.first.year_of_passing}}</h2>



							<div class="job last">
								<h2>{{resume.education_set.all.first.percentage_or_grade}}</h2>

							</div>
							<div class="job last">
								<h2>{{resume.education_set.all.first.university}}</h2>

							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->
				</div>
					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Hobbies</h2>
						</div><!--// .yui-u -->


						<div class="yui-u">

							<div class="job">
								<h2>{{resume.hobbies_set.all.first.hobbies}}</h2>
								
							</div>

							<div class="job">
								<h2>{{resume.hobbies_set.all.first.resume}}</h2>
								
							</div>
						</div>



				</div><!--// .yui-b -->
				<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Achievements</h2>
						</div><!--// .yui-u -->


						<div class="yui-u">

							<div class="job">
								<h2>{{resume.achievements_set.all.first.achievements}}</h2>
								
							</div>

							<div class="job">
								<h2>{{resume.hobbies_set.all.first.resume}}</h2>
								
							</div>
						</div>



				</div><!--// .yui-b -->
					<div class="yui-gf">

					<div class="yui-u first">
						<h2>Certificate</h2>
					</div><!--// .yui-u -->


					<div class="yui-u">

						<div class="job">
							<h2>{{resume.certificate_set.all.first.certificate}}</h2>
							
						</div>

						<div class="job">
							<h2>{{resume.certificate_set.all.first.resume}}</h2>
							
						</div>
					</div>



			</div><!--// .yui-b -->
			
		<div id="ft">
			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div><!--// footer -->


</body>
</html>

