<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Resume</title>
    <link type="text/css" rel="stylesheet" href="/static/css/purple.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/static/css/print.css"
      media="print"
    />
    <!--[if IE 7]>
      <link href="css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
      <link href="css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script
      type="text/javascript"
      src="/static/js/jquery-1.4.2.min.js"
    ></script>
    <script type="text/javascript" src="/static/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/static/js/cufon.yui.js"></script>
    <script type="text/javascript" src="/static/js/scrollTo.js"></script>
    <script type="text/javascript" src="/static/js/myriad.js"></script>
    <script type="text/javascript" src="/static/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/static/js/custom.js"></script>
    <script type="text/javascript">
      Cufon.replace("h1,h2");
    </script>
  </head>
  <body>
    <!-- Begin Wrapper -->
    <div id="wrapper">
      <div class="wrapper-top"></div>
      <div class="wrapper-mid">
        <!-- Begin Paper -->
        <div id="paper">
          <div class="paper-top"></div>
          <div id="paper-mid">
            <div class="entry">
              <!-- Begin Image -->

              {% for object in resume.userextrafields_set.all %}

              <img
                class="portrait"
                src="{{object.photo.url}}"
                alt="John Smith"
              />

              {% endfor %}
              <!-- End Image -->
              <!-- Begin Personal Information -->
              <div class="self">
                <h1 class="name">
                  {{ resume.user }} <br />
                  <span>{{resume.title}}</span>
                </h1>

                {% for object in resume.userextrafields_set.all %}

                <ul>
                  <li class="ad">{{object.address}}</li>
                  <li class="mail">johnsmith@business.com</li>
                  <li class="tel">{{object.phone}}</li>
                  <li class="web">{{object.date_of_birth}}</li>
                </ul>

                {% endfor %}
              </div>
              <!-- End Personal Information -->
              <!-- Begin Social -->
              <div class="social">
                <ul>
                  <li>
                    <a
                      class="north"
                      href="{% url 'generate_pdf' %}"
                      title="Download .pdf"
                    >
                      <img src="/static/images/icn-save.jpg" />
                    </a>
                  </li>
                  <li>
                    <a
                      class="north"
                      href="javascript:window.print()"
                      title="Print"
                      ><img src="/static/images/icn-print.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a
                      class="north"
                      id="contact"
                      href="static/contact/index.html"
                      title="Contact Me"
                      ><img src="/static/images/icn-contact.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a class="north" href="#" title="Follow me on Twitter"
                      ><img src="/static/images/icn-twitter.jpg" alt=""
                    /></a>
                  </li>
                  <li>
                    <a class="north" href="#" title="My Facebook Profile"
                      ><img src="/static/images/icn-facebook.jpg" alt=""
                    /></a>
                  </li>
                </ul>
              </div>
              <!-- End Social -->
            </div>
            <!-- Begin 1st Row -->
            <div class="entry">
              <h2>OBJECTIVE</h2>
              <div>
                <p>{{resume.objective}}</p>
              </div>
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                dignissim viverra nibh sed varius. Proin bibendum nunc in sem
                ultrices posuere. Aliquam ut aliquam lacus.
              </p> -->
            </div>
            <!-- End 1st Row -->
            <!-- Begin 2nd Row -->
            <div class="entry">
              <h2>EDUCATION</h2>
              <!-- <div class="content"> -->
              <!-- <h3>Sep 2005 - Feb 2007</h3> -->
              <!-- <p>
                  {{resume.education_set.all.first.university}} <br />
                  <em>{{resume.education_set.all.first.degree_class}}</em>
                  <em>{{resume.education_set.all.first.percentage_or_grade}}</em>
                </p> -->
              <table class="table">
                <thead>
                  <tr>
                    <th>University Name/School Name</th>
                    <th>Degree/Class</th>
                    <th>Percentage/Grade</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in resume.education_set.all %}
                  <tr>
                    <td scope="row">{{object.university}}</td>
                    <td>{{object.degree_class}}</td>
                    <td>{{object.percentage_or_grade}}</td>
                  </tr>
                  {% endfor %}
                  <!-- <tr>
                      <td scope="row"></td>
                      <td></td>
                      <td></td>
                    </tr> -->
                </tbody>
              </table>
              <!-- </div> -->

              <!-- <div class="content">
                <h3>Sep 2001 - Jun 2005</h3>
                <p>
                  University of Art &amp; Design, New York <br />
                  <em>Bachelor of Science in Graphic Design</em>
                </p>
              </div> -->
            </div>
            <!-- End 2nd Row -->
            <!-- Begin 3rd Row -->
            <div class="entry">
              <h2>EXPERIENCE</h2>
              <!-- <div class="content"> -->

              <!-- <h3>{{object.duration}}</h3>
                
                
                <p>
                  {{object.company_name}}<br />
                  <em>{{object.designation}}</em>
                  <em>{{object.place}}</em>

                </p>
                <ul class="info">
                  <li>{{object.role}}</li>
                   <li>
                    Pellentesque at lectus in
                    <a href="#">libero dapibus</a> cursus. Sed arcu ipsum,
                    varius at ultricies acuro, tincidunt iaculis diam.
                  </li> 
                </ul> -->
              <table class="table">
                <thead>
                  <tr>
                    <th>Duration</th>
                    <th>Company Name</th>
                    <th>Designation</th>
                    <th>Place</th>
                    <th>Role</th>
                  </tr>
                </thead>
                <tbody>
                  {% for object in resume.experience_set.all %}
                  <tr>
                    <td scope="row">{{object.duration}}</td>
                    <td>{{object.company_name}}</td>
                    <td>{{object.designation}}</td>
                    <td>{{object.place}}</td>
                    <td>{{object.role}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <!-- </div> -->
              <!-- <div class="content">
                <h3>Jun 2007 - May 2009</h3>
                <p>
                  Junior Web Designer <br />
                  <em>Bachelor of Science in Graphic Design</em>
                </p>
                <ul class="info">
                  <li>
                    Sed fermentum sollicitudin interdum. Etiam imperdiet sapien
                    in dolor rhoncus a semper tortor posuere.
                  </li>
                  <li>
                    Pellentesque at lectus in libero dapibus cursus. Sed arcu
                    ipsum, varius at ultricies acuro, tincidunt iaculis diam.
                  </li>
                </ul>
              </div> -->
            </div>
            <!-- End 3rd Row -->
            <!-- Begin 4th Row -->
            <div class="entry">
              <h2>SKILLS</h2>
              <div class="content">
                <h3>Software Knowledge</h3>
                {% for object in resume.skills_set.all %}
                <ul class="skills">
                  <li>{{object.skills}}</li>
                  <!-- <li>Illustrator</li>
                  <li>InDesign</li>
                  <li>Flash</li>
                  <li>Fireworks</li>
                  <li>Dreamweaver</li>
                  <li>After Effects</li>
                  <li>Cinema 4D</li>
                  <li>Maya</li> -->
                </ul>
                {% endfor %}
              </div>
              <div class="content">
                <h3>Hobby</h3>

                {% for object in resume.hobbies_set.all %}
                <ul class="skills">
                  <li>{{object.hobbies}}</li>
                  <!-- <li>PHP</li>
                  <li>JavaScript</li>
                  <li>Ruby on Rails</li>
                  <li>ActionScript</li>
                  <li>C++</li> -->
                </ul>
                {% endfor %}
              </div>
            </div>
            <!-- End 4th Row -->
            <!-- Begin 5th Row -->
            <!-- <div class="entry">
              <h2>WORKS</h2>
              <ul class="works">
                <li>
                  <a
                    href="static/static/images/1.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a
                    href="static/images/2.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a
                    href="static/images/3.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a
                    href="static/images/1.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a
                    href="static/images/2.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a
                    href="static/images/3.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a
                    href="static/images/1.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
                <li>
                  <a
                    href="static/images/1.jpg"
                    rel="gallery"
                    title="Lorem ipsum dolor sit amet."
                    ><img src="static/images/image.jpg" alt=""
                  /></a>
                </li>
              </ul>
            </div> -->
            <!-- Begin 5th Row -->
            <div class="entry">
              <h2>Certificate</h2>

              {% for object in resume.certificate_set.all %}

              <p>{{object.certificate}}</p>

              {% endfor %}
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                dignissim viverra nibh sed varius. Proin bibendum nunc in sem
                ultrices posuere. Aliquam ut aliquam lacus.
              </p> -->
            </div>

            <div class="entry">
              <h2>Achievements</h2>

              {% for object in resume.achievements_set.all %}

              <p>{{object.achievements}}</p>

              {% endfor %}
              <!-- <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                dignissim viverra nibh sed varius. Proin bibendum nunc in sem
                ultrices posuere. Aliquam ut aliquam lacus.
              </p> -->
            </div>
          </div>
          <div class="clear"></div>
          <div class="paper-bottom"></div>
        </div>
        <!-- End Paper -->
      </div>
      <div class="wrapper-bottom"></div>
    </div>
    <!-- <div id="message"><a href="#top" id="top-link">Go to Top</a></div> -->
    <!-- End Wrapper -->
  </body>
</html>
