<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
<style>
  .resume{
    border: 1px solid;
    padding-inline: 150px;
  }
</style>
  <body>



      <div class="container mt-4 resume">
          <h1 class= "text-center mt-4"><b>My Resume</b></h1>
          <hr>
          <br>
          <br>
        <div class="row center">
            <u><h5>Name</h5></u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <u><h5> {{resume.user.first_name}} {{resume.user.last_name}}</h5></u>
        </div>
      
        <div class="row center">
            <u><h5>Email</h5></u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <u><h5><a href="#">{{resume.user.email}}</a></h5></u>
        </div>
        
        <div class="row center">
            <u><h5>Address</h5></u>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <u><h5> {{resume.userextrafieldss.address}}</h5></u>
        </div>
        <hr>
        
        <div class="row center">
        <h4 class= ""><b>Objective : -</b></h4>     

            <p style=" margin-left: 150px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
            </p>
        </div>

        <hr>
      <div class="row">
        <h4 class= ""><b>Qualification : -</b></h4>    
          <table class="table">
              <thead>
                  <tr>
                    <th> title</th>
                      <th>High School</th>
                      <th>High Secondary </th>
                      <th> Graduation</th>

                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td scope="row">Board/School /College</td>
                      <td>{{resume.education_set.all.first.degree_class}}</td>
                      <td>12th from mp board</td>
                      <td>BE from SVCE</td>
                  </tr>
                  <tr>
                      <td scope="row">Percent</td>
                      <td>55%</td>
                      <td>53%</td>
                      <td>56%</td>

                  </tr>
                  <tr>
                    <td scope="row">Year</td>
                    <td>2011</td>
                    <td>2013</td>
                    <td>2018</td>

                </tr>
              </tbody>
          </table>
     </div>
     <h3 class= ""><b>Hobbies : -</b></h3> 

      <div class="row">
        <br>
        <ul style=" margin-left: 150px;">
            <li>Playing cricket</li>
            <li>Playing football</li>
            <li>Reading blogs</li>
            <li>listening music</li>

        </ul>

      </div>
      <div class="row">
        <h4 class= ""><b>Deceleration : -</b></h4>     

        <p style=" margin-left: 150px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
        </p>
      </div>
     </div>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    <script type="text/javascript">
      function Copy() 
      {
          var Url = document.getElementById("paste-box");
          Url.value = window.location.href;
          Url.focus();
          Url.select();  
          document.execCommand("Copy");
      }
</script>
  </body>
</html>