{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resume Now</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=Martel Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <link rel="stylesheet" href="{% static 'css/updatedata.css' %}">
</head>

<body style="background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); ">


    <div class="container bg-white p-0" style="margin-top:200px ;min-height:600px;">
        <hr class="resume-progress ">
        <div class="container p-5">
            <div class="mt-2">
                <h2 class="d-inline">{{resumeheader.0}} {{resumeheader.1}}</h2>
                <ul class="list-unstyled">
                    <li> {{resumeheader.2}}</li>
                    <li>{{resumeheader.3}}</li>
                </ul>
            </div>
            <hr>
            <div>

            </div>
            <!--Education Sction-->

            <div class="mt-2">
                <div class="row m-2">
                    <div class=" text-info col-md-3 h4">EDUCATION</div>
                    <div class="col-md-9 row">

                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Degree class</th>
                                    <th scope="col">Year of passing</th>
                                    <th scope="col">Percentage or grade</th>
                                    <th scope="col">University</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for education in education %}

                                <tr>
                                    <td>{{education.qualification_name}}</td>
                                    <td>{{education.year_of_passing}}</td>
                                    <td>{{education.percentage_or_grade}}</td>
                                    <td>{{education.university}}</td>
                                    <td><button type="button" class="btn btn-warning" data-id={{education.id}}
                                            data-toggle="modal" data-target="#modelId{{education.id}}">
                                            update
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modelId{{education.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="modelTitleId" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">update</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'update_edu' %}" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}

                                                            <div class="modal-body">
                                                                <input type="hidden" name="r_id" value="{{ resume.id }}">


                                                                <input type="hidden" value="{{education.id}}" name="id">

                                                                {{eduform.as_p}}

                                                                <button type="submit" value="Submit"
                                                                    class="btn btn-success">Update</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <form method="post" , action="{% url 'deleteEdu' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="e_id" value="{{ education.id }}">
                                            <input type="hidden" name="r_id" value="{{ resume.id }}">

                                            
                                            <button type="submit" class="btn btn-danger">Delete</button>
                
                                        </form>
                                       
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>


                        <!-- Button trigger modal -->



                        <a href="http://" class="addMoreItemContainer" data-toggle="modal" data-dismiss="modal"
                            data-target="#add-education-modal" id="education">+ Add Education</a>
                    </div>

                </div>
                <hr />

            </div>
            <!--   education end-->

                <!-- exprince start -->

                <div class="mt-2">
                <div class="row m-2">
                    <div class=" text-info col-md-3 h4">Experience</div>
                    <div class="col-md-9 row">

                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Company Name</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Place</th>
                                    <th scope="col">start date</th>
                                    <th scope="col">end date</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for experience in experience %}

                                <tr>
                                    <td>{{experience.company_name}}</td>
                                    <td>{{experience.designation}}</td>
                                    <td>{{experience.start_date}}</td>
                                    <td>{{experience.end_date}}</td>

                                    <td>{{experience.role}}</td>
                                    <td>{{experience.place}}</td>
                                    
                                    <td><button type="button" class="btn btn-warning" data-id={{experience.id}}
                                            data-toggle="modal" data-target="#modelexperience{{experience.id}}">
                                            update
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modelexperience{{experience.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="modelTitleId" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">update</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'update_experience' %}" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}

                                                            <div class="modal-body">
                                                                <input type="hidden" name="r_id" value="{{ resume.id }}">


                                                                <input type="hidden" value="{{experience.id}}" name="id">

                                                                {{experienceform.as_p}}

                                                                <button type="submit" value="Submit"
                                                                    class="btn btn-success">Update</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <form method="post" , action="{% url 'deleteexperience' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="ex_id" value="{{ experience.id }}">
                                            <input type="hidden" name="r_id" value="{{ resume.id }}">

                                            
                                            <button type="submit" class="btn btn-danger">Delete</button>
                
                                        </form>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>


                        <!-- Button trigger modal -->



                        <a href="http://" class="addMoreItemContainer" data-toggle="modal" data-dismiss="modal"
                            data-target="#add-experience-modal" id="experience">+ Add Experience</a>
                    </div>

                </div>
                <hr />

            </div>
                <!-- exprince end -->



            <!-- skill section -->

            <div class="mt-2">
                <div class="row m-2">
                    <div class=" text-info col-md-3 h4">SKILLS</div>
                    <div class="col-md-9 row">

                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">Skills</th>
                                    <th scope="col">update</th>
                                    <th scope="col">Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for skill in skills %}

                                <tr>
                                    <td>{{skill.skills}}</td>

                                    <td><button type="button" class="btn btn-warning" data-id={{skill.id}}
                                            data-toggle="modal" data-target="#modelId{{skill.id}}">
                                            update
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modelId{{skill.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="modelTitleId" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">update</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'update_skill' %}" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="r_id" value="{{ resume.id }}">



                                                            <input type="hidden" value="{{skill.id}}" name="id">

                                                            {{skillsform.as_p}}

                                                            <button type="submit" value="Submit"
                                                                class="btn btn-success">Update</button>


                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td><a type="button" class="btn btn-danger"
                                            href="{% url 'deleteskill' skill.id %}">Delete</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>


                        <!-- Button trigger modal -->



                        <a href="http://" class="addMoreItemContainer" data-toggle="modal" data-dismiss="modal"
                            data-target="#add-skills-modal" id="skill">+ Add Skills</a>
                    </div>

                </div>
                <hr />

            </div>

            <!-- skill end -->



            <!-- -------------------------- -->


            <!-- hobbies section -->

            <div class="mt-2">
                <div class="row m-2">
                    <div class=" text-info col-md-3 h4">HOBBIES</div>
                    <div class="col-md-9 row">

                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">hobbies</th>
                                    <th scope="col">update</th>
                                    <th scope="col">Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for hobbie in hobbies %}

                                <tr>
                                    <td>{{hobbie.hobbies}}</td>

                                    <td><button type="button" class="btn btn-warning" data-id={{hobbie.id}}
                                            data-toggle="modal" data-target="#modelid{{hobbie.id}}">
                                            update
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modelid{{hobbie.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="modelTitleId" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">update</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'update_hobbie' %}" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}

                                                            <input type="hidden" name="r_id" value="{{ resume.id }}">


                                                            <input type="hidden" value="{{hobbie.id}}" name="id">

                                                            

                                                            <button type="submit" 
                                                                class="btn btn-success">Update</button>


                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        

                                        
                                    </td>

                                    <td><a type="button" class="btn btn-danger"
                                            href="{% url 'deletehobbie' hobbie.id %}">Delete</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>


                        <!-- Button trigger modal -->



                        <a href="http://" class="addMoreItemContainer" data-toggle="modal" data-dismiss="modal"
                            data-target="#add-hobbies-modal" id="hobbie">+ Add Hobbies</a>
                    </div>

                </div>
                <hr />

            </div>

            <!-- hobbies end -->

            <!-- acviment start-->
                                
                <div class="mt-2">
                <div class="row m-2">
                    <div class=" text-info col-md-3 h4">ACHIEVEMENTS</div>
                    <div class="col-md-9 row">

                        <table class="table">
                            <thead>
                                <tr>

                                    <th scope="col">achievements</th>
                                    <th scope="col">update</th>
                                    <th scope="col">Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for achievement in achievements %}

                                <tr>
                                    <td>{{achievement.achievements}}</td>

                                    <td><button type="button" class="btn btn-warning" data-id={{achievement.id}}
                                            data-toggle="modal" data-target="#modelachievement{{achievement.id}}">
                                            update
                                        </button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modelachievement{{achievement.id}}" tabindex="-1" role="dialog"
                                            aria-labelledby="modelTitleId" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">update</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'update_achievements' %}" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="r_id" value="{{ resume.id }}">



                                                            <input type="hidden" value="{{achievement.id}}" name="id">
                                                            {{achievementsform.as_p}}

                                                            

                                                            <button type="submit" 
                                                                class="btn btn-success">Update</button>


                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        

                                        
                                    </td>

                                    <td><a type="button" class="btn btn-danger"
                                            href="{% url 'deleteachievements' achievement.id %}">Delete</a></td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>


                        <!-- Button trigger modal -->



                        <a href="http://" class="addMoreItemContainer" data-toggle="modal" data-dismiss="modal"
                            data-target="#add-achievements-modal" id="achievement">+ Add Achievements</a>
                    </div>

                </div>
                <hr />

            </div>

                <!--     acviment end -->        


            </div>

        <!--Education Section-->

        <div class="modal fade" id="add-education-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">


                        <h4 class="modal-title d-inline">Education :</h4>
                        <button type="button" class="close d-inline" data-dismiss="modal">&times;</button>
                        <form method="post" , action="{% url 'add_education' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ resume.id }}">
                            {{eduform}}
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <!--modals-->

            <!-- exprince -->
            <div class="modal fade" id="add-experience-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">


                        <h4 class="modal-title d-inline">Experience :</h4>
                        <button type="button" class="close d-inline" data-dismiss="modal">&times;</button>
                        <form method="post" , action="{% url 'add_experience' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ resume.id }}">
                            {{experienceform}}
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                        <hr>


                    </div>
                </div>
            </div>
        </div>
        <!--modals-->




        <!-- Skills Modal-->
        <div class="modal fade" id="add-skills-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">


                        <h4 class="modal-title d-inline">Skills :</h4>
                        <button type="button" class="close d-inline" data-dismiss="modal">&times;</button>
                        <form method="post" , action="{% url 'add_skills' %}">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ resume.id }}">
                            {{ skillsform }}
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </form>
                        <hr>


                    </div>
                </div>
            </div>
        </div>

        <!--modals-->
    </div>



    <!-- Hobbies Modal-->
    <div class="modal fade" id="add-hobbies-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">


                    <h4 class="modal-title d-inline">Hobbies :</h4>
                    <button type="button" class="close d-inline" data-dismiss="modal">&times;</button>
                    <form method="post" , action="{% url 'add_hobbies' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ resume.id }}">
                        {{ hobbiesform }}
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                    <hr>


                </div>
            </div>
        </div>
    </div>

    <!--modals-->
    </div>

     <!--achivment Modal-->
    <div class="modal fade" id="add-achievements-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">


                    <h4 class="modal-title d-inline">Achievements :</h4>
                    <button type="button" class="close d-inline" data-dismiss="modal">&times;</button>
                    <form method="post" , action="{% url 'add_achievements' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ resume.id }}">
                        {{ achievementsform }}
                        <button type="submit" class="btn btn-primary">Submit</button>

                    </form>
                    <hr>


                </div>
            </div>
        </div>
    </div>

    <!--modals-->
    </div>

    <br>
    <br>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>



<script>
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        smartBackspace: true,// Default value
        typeSpeed: 25,
        backSpeed: 20,
        loop: true
    });
    $('#date').bootstrapMaterialDatePicker({ weekStart: 0, time: false });
</script>
<script>
    $(function () {
        $('input[date="datepicker"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,

            locale: {
                format: 'YYYY-MM-DD'
            },


        });
    });
    $(function () {
        $('input[date1="datepicker"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,

            locale: {
                format: 'MMMM DD,YYYY'
            },


        });
    });
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });


</script>

</html>